@model IEnumerable<Matslump.Models.Receptmodels>

@{
    ViewBag.Title = "Myfood";
}

<h2>Myfood</h2>


<table class="table">
    <tr>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Ta bort från min lista", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
