<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
     
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Server=localhost;port=5432; user id=matslumpiator;Password=mat123;database=matslumpiator;" providerName="Npgsql" />
  </connectionStrings>
</configuration>