<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Något blev fel!</h1>
        <h2>Skicka gärna ett mail och berätta vad som inte fungerar </h2>

    </hgroup>
    <p>Skicka till nicklas@nppc.se</p>
</body>
</html>
