@{
    ViewBag.Title = "Din räddning i vardagen";
}
<div class="container-fluid color rounded py-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col"></div>
                <div class="col-md-10 test px-3 py-2 rounded"> <h1>Matslumpiator - Vi löser dina matproblem</h1></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-8 px-3 py-2"> <img src="~/Content/pic/eat-1339061_960_720.jpg" class="img-fluid rounded"/></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-lg-12"></div>
            </div>

        </div>

    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="color px-3 py-2 rounded border">
                <h2>Planera veckans mat</h2>
                <p>
                    Planera veckans mat direkt,Vad är du sugen på?
                </p>
                <p><a class="btn btn-outline-dark" href="/slumpiator/Index">Matplan &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="color px-3 py-2 rounded border">

                <h2 class="color2">Se över dina recept</h2>
                <p>Titta i din receptdatabas,vad vill du äta?</p><br />
                <p><a class="btn btn-outline-dark" href="/Myfood/Index">Mina recept &raquo;</a></p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="color px-3 py-2 rounded border">
                <h2>Leta nya maträtter</h2>
                <p>Sök i vår stora databas och hitta nya favoriter.</p>
                <p><a class="btn btn-outline-dark" href="/Food/All">Inspiration &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
