@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Välkommen</h1>
    <p class="lead">Senaste uppdateringen v.0.5</p>
    <p>1.Buggfix </p>
    <p>2.Slumpiator fungerar</p>
    <p>3.Receptdelen finns beskrivning</p>
    <p>4.Sortering på vilka som ligger i min lista</p>
    <p>5.Ändra recept</p>
    <p> Hittar du fel eller annat så maila till nicklas@nppc.se</p>
    

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Planera veckans mat</h2>
        <p>
            Planera veckans mat direkt,Vad är du sugen på?
        </p>
        <p><a class="btn btn-default" href="/slumpiator/Index">Matplan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Se över dina recept</h2>
        <p>Titta över din receptdatabas, vad har du ättit för mycket av?</p>
        <p><a class="btn btn-default" href="/Myfood/Index">Mina recept &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leta nya maträtter</h2>
        <p>Sök i vår stora databas och hitta nya favoriter.</p>
        <p><a class="btn btn-default" href="/Food/All">Inspiration &raquo;</a></p>
    </div>
</div>